body {
  color: #40514E;
  font-family: 'Merriweather', serif;

  margin: 0;
  text-align: center;
}
p {
  line-height: 2;
}

hr {
  color: #EAF6F6;
}
h1 {
  color: #66BFBF;
  font-size: 5.2rem;
  font-family:  cursive;
  margin: 50px auto 0 auto;

}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}
.middle-container {
  margin: 100px 0 50px;

}
.bottom-container {
  padding-top: 40px;
  background-color: #EBCECA;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.programmer {
  font-weight: normal;
}
.skill-row {
  margin: 100px auto 100px;
  text-align: left;
  width: 50%;
}
.programming {
  margin-right: 30px;
  float: left;
  width: 25%;
}
.development {
  margin-left: 30px;
  float: right;
  width: 25%;
}
.profile {
  width: 50%;
  margin: auto;
}
.Harsh {
  width: 25%;
  margin: auto;
}
.copyright {
  color: #EF2809;
  margin: 20px 0px;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
   background-image: -o-linear-gradient(top, #11CDD4, #11999A);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999A);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #666666;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 8px;
   text-decoration: none;
}
a {
  margin: 10px;
}
